@using EMSMvc.Core.Application.DTOs
@model Login
@{
    ViewData["Title"] = "Login";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-lg">
                <div class="card-header text-center text-white" style="background-color:#234567">
                    <h3 style="color:#b1dae7">
                        Login
                    </h3>
                </div>
                <div class="card-body">
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    @if (ViewData["Error"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["Error"]
                        </div>
                    }
                    <form asp-action="Login" method="post">
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label"></label>
                            <input asp-for="Username" class="form-control" placeholder="Enter your username" required />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Enter your password" required />
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="d-grid">
                            <button class="cta" type="submit">
                                <span>Login</span>
                                <svg width="15px" height="10px" viewBox="0 0 13 10">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </button>
                        </div>
                    </form>

                    <hr />

                    <div class="d-grid">
                        <a asp-controller="Auth" asp-action="ExternalLogin" asp-route-provider="Google"
                           class="btn btn-danger btn-block">
                            <i class="fab fa-google me-2"></i> Sign in with Google
                        </a>
                    </div>
                </div>
                
                <div class="card-footer text-center">
                    <div class="text-center mb-3 ">
                        <a asp-action="ForgotPassword" class="forgotPassword-link text-decoration-none">Forgot password?</a>
                    </div>
                    <p>Don't have an account? <a asp-action="Register" class="register-link">Register here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <style>
        body {
            background-image: url('/images/elevated-view-laptop-stationeries-blue-backdrop.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
    <script>
        // Show Toastr Notification on Login Page after Registration
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                toastr.options = {
                    "closeButton": true,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "timeOut": "5000"
                };
                toastr.success(successMessage);
            }
        });
    </script>
}
